{% extends 'base/base.html' %}
{% block title %}Login{% endblock title %}

{% block page_content %}
    <h1 class="text-center">Login to Your Profile</h1>
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-7">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Log in</button>
            </form>
            <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </div>
{% endblock %}
