{% extends 'base/base.html' %}
{% block title %}Login{% endblock title %}

{% block page_content %}
    <section class="editPage">
        <form method="POST">
            <fieldset>
                <legend>Login to Your Profile</legend>
                <div class="container">

                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Log in</button>
                </div>
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </fieldset>
            </form>

    </section>


{% endblock %}
