{% extends 'base/base.html' %}
{% block title %}Profile Details{% endblock title %}

{% block page_content %}
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                <img src="{{ profile.picture }}"
                     class="w-50 rounded mx-auto d-block" alt="description">
            </div>
            <div class="d-inline p-1 w-50">
                <div class="d-flex flex-column">
                    <h5><u>Name:</u> {{ profile.first_name }} {{ profile.last_name }}</h5>

                    {% if profile.email %}
                        <h5><u>Email:</u> {{ profile.email }}</h5>
                    {% endif %}
                    {% if profile.gender %}
                        <h5><u>Gender:</u> {{ profile.gender }}</h5>
                    {% endif %}
                    {% if profile.description %}
                        <h5><u>Description:</u> {{ profile.description }}</h5>
                    {% endif %}
                </div>
                <p class="mt-3">Total Images: {{ total_movie_photos_count }}</p>

                {% if is_owner %}
                    {#                    <a href="{% url 'edit profile' %}" class="btn btn-primary">Edit</a>#}
                    {#                    <a href="{% url 'delete profile' %}" class="btn btn-primary">Delete</a>#}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block bottom_page_content %}

    <h2 class="text-center">My Movies</h2>
    <div class="container mb-4">
        <div class="d-flex justify-content-start mb-5">
            {% for movie in movies %}
                <div style="width: 18rem;">
                    <h5>{{ movie.movie_name }}</h5>
                    {% if is_owner %}
                        <a href="{% url 'edit movie' movie.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'movie details' movie.pk %}" class="btn btn-primary">Details</a>

                        <a href="{% url 'delete movie' movie.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
