{% extends 'base/base.html' %}
{% block title %}Create Profile{% endblock title %}

{% block page_content %}
    <section class="editPage">
        <form method="post" action="{% url 'register' %}">
            <fieldset>
                <legend>Create Your Profile</legend>
                    <div class="container">
                        {% csrf_token %}
                        {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Create</button>
                    </div>
                    <p>Already have an account? <a href="{% url 'login user' %}">Login</a></p>
            </fieldset>
        </form>
    </section>
{% endblock %}
