{% extends 'base/base.html' %}

{% block page_content %}
    <h1 class='text-center'>
        {% if movie_photos %}
            All Movie photos
        {% else %}
            No movie photos added yet
        {% endif %}
    </h1>

    {% if movie_photos %}
        <div class="container">
            <div class="row">
                {% for movie_photo in movie_photos %}
                    <div class="card ml-4 mb-4" style="width: 17rem;">
                        <img src="{{ movie_photo.photo.url }}" alt="Photo description">
                        <div class="card-body" >
                            {% for movie in movie_photo.related_movie.all %}
                                <h5>{{ movie.movie_name }}</h5>
                            {% endfor %}
                            <p >{{ movie_photo.description|truncatechars:30 }}</p>
                            <a href="{% url 'movie photo details' movie_photo.id %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}

{% endblock %}
