{% extends 'base/base.html' %}
{% block title %}Dashboard{% endblock title %}

{% block page_content %}
    <h1 class='text-center'>

        {% if movie_photos %}
            All Movie photos
        {% else %}
            No movie photos added yet
        {% endif %}
    </h1>

    {% if movie_photos %}
        <div class="container mt-5 mb-5 " >
        <div class="d-flex justify-content-center">
            <div class="col-md-10">
                {% for movie_photo in movie_photos %}
                    <div class="row p-2 bg-white border rounded mt-2">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ movie_photo.photo.url }}" alt="Photo description"></div>
                        <div class="col-md-6 mt-1">
                            {% for movie in movie_photo.related_movie.all %}
                                <p id="heading" class='text-center' >{{ movie.movie_name }}</p>
                            {% endfor %}
                            <p >{{ movie_photo.description|truncatechars:30 }}</p>
                            <a href="{% url 'movie photo details' movie_photo.id %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        </div>
    {% endif %}

{% endblock %}
