{% extends 'base/base.html' %}

{% block page_content %}
    <h1 class='text-center'>
        {% if movie_photos %}
            All Movie photos
        {% else %}
            No movie photos added yet
        {% endif %}
    </h1>

    {% if movie_photos %}
        <div class="container mb-5">
            <div class="row mb-5">
                {% for movie_photo in movie_photos %}
                    <div class="card ml-3 mb-3" style="width: 18rem;">
                        <!-- Image -->
                        <img src="{{ movie_photo.photo }}"
                             class="card-img-top" alt="Photo description">
                        <div class="card-body">
                            {% for movie in movie_photo.related_movie.all %}
                                <h5 class="card-title">{{ movie_photo.related_movie }}

                                </h5>
                            {% endfor %}
                            <!-- First 30 chars from the description -->
                            <p class="card-text">{{ movie_photo.description|truncatechars:30 }}</p>
                            <a href="{% url 'create movie photo' %}" class="btn btn-primary">See details</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>


    {% endif %}

{% endblock %}
