{% extends 'base/base.html' %}
{% block page_content %}
<section class="editPage">
    <h1>Are you sure you want to delete this movie?</h1>
    <form method="POST" action="{% url 'delete movie' movie.id %}">
        <fieldset>
            <legend>Delete Movie</legend>
            <div class="container">
                {{ form }}
                {% csrf_token %}
                <button class="delete-movie" type="submit">Delete Movie</button>
            </div>
        </fieldset>
    </form>
</section>

{% endblock %}
