{% extends 'base/base.html' %}
{% block page_content %}
<section id="catalogPage">
    {% if not movies %}

        <p>No Movies in Catalog!</p>
    {% else %}
    <h1>All Movies</h1>
    {% endif %}
    {% for movie in movies %}
        <div class="card-box">
            <img src="{{movie.image_url }}" alt="Cover Image">
            <div>
                <div class="text-center">
                    <p class="name">Name: {{ movie.movie_name}}</p>
                    <p class="artist">Artist: {{ movie.director }}</p>
                    <p class="genre">Genre: {{ movie.genre }}</p>
                    <p class="price">Price: ${{ movie.price|floatformat:2 }}</p>
                </div>
                <div class="btn-group">
                    <a href="{% url 'movie details' movie.id %}">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}

</section>

{% endblock %}
