{% extends 'base/base.html' %}
{% block page_content %}
<section id="detailsPage">
    <div class="wrapper">

        <div class="movieCover">

            <img src="{{ movie.image_url }} " style="width:50%;" alt="Cover Image" >

        </div>

        <div class="movieInfo">

            <div class="movieText">

                <h1>Name: {{ movie.movie_name }}</h1>
                <h3>Director: {{ movie.director }}</h3>
                <h4>Genre: {{ movie.genre }}</h4>
                <h4>Price: ${{ movie.price|floatformat:2 }}</h4>
                {% if movie.description %}
                    <p>Description: {{ movie.description }}</p>
                {% endif %}
            </div>

            <div class="actionBtn">
                <a href="{% url 'edit movie' movie.pk %}" class="edit">Edit</a>
                <a href="{% url 'delete movie' movie.pk %}" class="remove">Delete</a>

            </div>

        </div>
    </div>
</section>

{% endblock %}
