{% extends 'base/base.html' %}
{% block title %}Movie Details{% endblock title %}

{% block page_content %}
    <div>
        <div>
            <img src="{{ movie.image_url }} " style="width:50%;"  >
        </div>
        <div>
            <div>
                <h1>Name: {{ movie.movie_name }}</h1>
                <h3>Director: {{ movie.director }}</h3>
                <h4>Genre: {{ movie.genre }}</h4>
                <h4>Price: ${{ movie.price|floatformat:2 }}</h4>
                {% if movie.description %}
                    <p id="heading">Description: {{ movie.description }}</p>
                {% endif %}
            </div>
            <div>
                <a href="{% url 'edit movie' movie.pk %}" class="edit">Edit</a>
                <a href="{% url 'delete movie' movie.pk %}" class="remove">Delete</a>

            </div>
        </div>
    </div>


{% endblock %}
