{% extends 'base/base.html' %}
{% block title %}Edit Movie Photo{% endblock title %}

{% block page_content %}
    <h1 class="text-center">Edit a movie photo from your gallery</h1>

  <div class="row">
        <img src="{{ object.photo.url }}"
         class="w-50" alt="Photo description">
        <div id="heading" class="col-lg-6">
            <form method="post" action="{% url 'edit movie photo' object.pk %}">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Edit</button>
            </form>
        </div>
    </div>

{% endblock %}

